.page-content {
  padding: 5.5rem 1rem;
}
.login-card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.form-login {
  display: flex;
  flex-direction: column;
}
.form-login-btn {
  margin-top: 1.5rem;
}
